PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/ecommerce_multistore_db
# Hoặc dùng MongoDB Atlas:
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/ecommerce_multistore_db

# JWT
JWT_ACCESS_SECRET=thay_doi_chuoi_bi_mat_access_token
JWT_REFRESH_SECRET=thay_doi_chuoi_bi_mat_refresh_token
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Frontend URL (dùng cho CORS)
CLIENT_URL=http://localhost:5173

# (Tùy chọn) Cloudinary - upload ảnh
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
